body {
  margin:0;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

#main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#message-container {
  background-color: #222;
  color: white;
  flex: 1;
  padding: 10px 10px;
  font-size: 18px;
}

.message {
  display: flex;
  white-space: pre-wrap;
}

.input-container {
  background-color: #444;
  padding: 5px;
  display: flex;
}

.input-container input {
  padding: 5px;
  flex: 1;
}