.codemirror-editor {
  height: 100%;
  width: 100%;
  position: relative;
}

/* This style is needed to ensure the editor takes up the full height and width of its container */
.codemirror-editor > .cm-editor {
  height: 100%;
  width: 100%;
}